
.about__area{
    padding: 100px 20px 0px;
    @include media-md {
        padding: 50px 20px 0px;
    } 
    .single__about{
        .single__desc {
            .desc__text{ 
                display: flex;
                align-items: center;
                justify-content: space-around;
                column-gap: 40px;
                padding: 10px 0 22px 0;
            }
        }
    }
}
