@mixin transition-ease {
  transition: all 0.5s ease;
}
@mixin filter-100 {
  filter: grayscale(100%);
}
@mixin filter-10 {
  filter: grayscale(10%)
}
@mixin flex-spacebetween {
  display: flex;
  align-items: center;
  justify-content:space-between;
}
@mixin border-radius {
   border-radius: 6px;
}
@mixin border($width: 1px,$color){
  border: $width solid $color;
}
@mixin title($fontFamily,$textTrans,$fontWeight,$fontSize,$color) {
  font-family: $fontFamily;
  text-transform:$textTrans;
  font-weight:$fontWeight;
  font-size: $fontSize;
  color: $color;
}
@mixin link__icon{
  background: rgba(0, 0, 0, 0.4);
  height: 70px;
  width: 70px;
  display: grid;
  place-items: center;
  position: absolute;
  right: 15px;
  border-radius: 50%;
  top: 15px;
  z-index: 10;
  cursor: pointer;
  transition: all 0.25s ease-in-out;
  font-size: 40px;
  color: $color_bg;
  &:hover{
    transform: scale(1);
    background: $color_one;
    color: black;
    font-size:20px ;
  }
}


@mixin media-md {
    @media screen and (max-width: 768px) {
      @content;
    }
  }
  @mixin media-lg {
    @media screen and (max-width: 1024px) {
      @content;
    }
  }
  @mixin media-xl {
    @media screen and (max-widthh: 1600px) {
      @content;
    }
  }