// background-color: #050002;
// background-image: url("https://www.transparenttextures.com/patterns/stardust.png");


// background-color: #050002;
// background-image: url("https://www.transparenttextures.com/patterns/pinstriped-suit.png");

// background-color: #050002;
// background-image: url("https://www.transparenttextures.com/patterns/dark-mosaic.png");

.footer{
    min-height: 200px;
    padding: 20px;
    background:#0c0c0c ;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    position: relative;
    span{
        position: absolute;
        background: #fff;
        padding: 16px 60px;
        left: 50%;
        transform: translate(-50%);
        top: -13px;
        border-radius: 17px;
        font-size: 25px;
        color: #050002;
        &:before {
            position: absolute;
            content: "";
            height: 25px;
            width: 25px;
            background: #0c0c0c;
            border-radius: 50%;
            box-shadow: 10px -10px #fff;
            left: -25px;
            top: 13px;
        }
        &:after { 
            position: absolute;
            content: "";
            height: 25px;
            width: 25px;
            background: #0c0c0c;
            border-radius: 50%;
            box-shadow: -10px -10px #fff;
            right: -25px;
            top: 13px;
        }
    }

    .footer__contact{
        display: grid;
        // grid-template-columns: .8fr .9fr .7fr .6fr;
        grid-template-columns: repeat(auto-fit, minmax(min(15rem, 100%), 1fr));
        gap: 10px;
        place-items: center;
        height: 100%;
        color: #fff;
       .contact__section{
        margin-block-start: 85px;
        background-image: url("https://www.transparenttextures.com/patterns/dark-mosaic.png");
        padding: 15px;
        border-radius: 10px;
         .contact__quote{
            display: flex;
            flex-direction: column;
            gap: 30px;
            .quote__text{
                text-align: left;
                position: relative;
                text-transform: capitalize;
            }
            .footer__quote{
                position: absolute;
                font-size: 40px;
                top: -40px;
            }
            .quote__image{
                max-height: 200px;
                max-width: 200px;
            }
            img{
                height: 100%;
                width: 100%;
            }
         }
       }
       .info__section{
        dt {
            font-size: medium;
            font-weight: 700;
            letter-spacing: .1rem;
            margin-bottom: 10px;
            margin-top: 20px;
        }
        dd.small {
            font-size: medium;
            display: flex;
            align-items: center;
            gap: 6px;
            text-transform: lowercase;
        }
       }
       .cvdownload__section{
       }
       .social__section{
        display: flex;
        flex-direction: column;
        gap: 10px;
       }

    }

}
.single__social{
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-transform: capitalize;
    font-size: 14px;
    gap: 10px;
    // background: #191919;
    padding: 10px 20px;
    border: 5px solid #191919;
    border-radius: 10px;
    transition: all .5s ease;
    &:hover{
      transform: translateY(-3px);
      cursor: pointer;
    }
}
.footer__copyright{
    background-color: #000;
    padding: 10px 20px;
    text-align: center;
    text-transform: capitalize;
    color:aliceblue;
}