@import "./variables";
.home__area{
    height:calc(100vh - 90px) ;
    // background: url("../assets/spring.svg");
    // background-size: 4.2em;
    // background-position:top left;
    // background-repeat: no-repeat;
    display: grid;
    place-items: center;
    padding: 0 20px;
    @include media-md {

    }
    .home__image{
        max-height: 377px;
        max-width: 309px;
        position: relative;
        overflow: hidden;
      }
    img{
        height: 100%;
        width: 100%;
        object-fit: cover;
        transition: all .5s ease;
        filter: grayscale(100%);
        &:hover{
            filter: grayscale(10%)
        }
    }
    .home__image:hover img{
        transform: scale(1.1);
        cursor: pointer; 
    }
    .link__icon{
      background: rgba(0, 0, 0, 0.4);
      height: 70px;
      width: 70px;
      display: grid;
      place-items: center;
      position: absolute;
      right: 15px;
      border-radius: 50%;
      top: 15px;
      z-index: 10;
      cursor: pointer;
      transition: all 0.25s ease-in-out;
      font-size: 40px;
      color: $color_bg;
      &:hover{
        transform: scale(1);
        background: $color_one;
        color: black;
        font-size:20px ;
      }
    }
  }
