@import "./variables";
.home__area{
    height:calc(100vh - 90px) ;
    display: grid;
    place-items: center;
    .home__image{
        height: 400px;
        width: 300px;
        position: relative;
        overflow: hidden;
      }
    img{
        height: 100%;
        width: 100%;
        object-fit: cover;
        transition: all .5s ;
    }
    .home__image:hover img{
        transform: scale(1.1);
        cursor: pointer; 
    }
    .link__icon{
      background: rgba(0, 0, 0, 0.4);
      height: 80px;
      width: 80px;
      display: grid;
      place-items: center;
      position: absolute;
      right: 15px;
      border-radius: 50%;
      top: 15px;
      z-index: 10;
      cursor: pointer;
      transition: all 0.25s ease-in-out;
      font-size: 50px;
      color: $color_bg;
      &:hover{
        transform: scale(1);
        background: $color_one;
        color: black;
        font-size:30px ;
      }
    }
  }
