@import "./variables";

.line{
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap:100px;
    font-family: proximanovacond;
    font-weight: bold;
    padding: 50px 0;
    border-bottom: .1rem solid rgba(0, 0, 0, 0.4);;
    @include media-md {
        flex-direction: column;
    }
    .line__text{
        text-transform: uppercase;
        text-transform: uppercase;
        color: $color_two;
        font-weight: 700;
        font-size: 24px;
        position: relative;
        margin-left: 50px;
        min-width: 200px;
        @include media-md {
            margin-left: 0px;
            margin-bottom: 50px;
        }
        span{
            position: absolute;
            color: $color_one;
            opacity: 0.5;
            left: -45px;
            font-size: 70px;
            rotate: 0deg;
            z-index: -3;
            top: -30px;
            @include media-md{
                font-size: 70px;
                top: -30px;
                left: -30px;
            }
        }
    }
    .about__desc{
        color: $color_two;
        font-family: 'proximanovacond';
        font-weight: medium;
        line-height: 40px;
    }
    .line__line{
        width: 100%;
        height: .010rem;
        background: rgba(0, 0, 0, 0.4);
    }
}