.navbar{
    background: transparent;
    padding:50px 20px ;
    width: 100%;
    min-height: 80px;
    display: grid;
    place-items: normal;
    ul{
        display: flex;
        align-items: center;
        justify-content:space-between;
        @include media-md {
           flex-direction: column;
        } 
        li{
            img{
               width: 108px; 
            }
        }
    }
}