.navbar{
    background: transparent;
    // background-color: antiquewhite;
    width: 100%;
    height: 90px;
    display: grid;
    place-items: normal;
    ul{
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }
}