@import "./allmixing";

.navbar{
    background: transparent;
    padding:50px 20px ;
    width: 100%;
    min-height: 80px;
    display: grid;
    place-items: normal;
    ul{
        @include flex-spacebetween;
        @include media-md {
           flex-direction: column;
        } 
        li{
            img{
               width: 108px; 
            }
        }
    }
}