@import "./variables";
.optional__section{
    padding: 100px 20px;
    background: $color_subg;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    @include media-md {
        padding: 50px 20px;
    }
    .optional__title{
        display: grid;
        grid-template-columns: 1fr 2fr;
        align-items: center;
        @include media-md {
            grid-template-columns: 1fr;
            margin-block-end: 30px;
        }
        .title__link{
            font-weight: bold;
            color: $color_two;
            display: flex;
            align-items: center;
            font-size: 33px;
            padding: 20px 0;
            gap: 20px;
            .optional__link{
                transition: all .50s ease;
                color:$color_two;
                &:hover{
                  transform: scale(1.2);
                  cursor: pointer;
                  color:$color_two
                }
            }
        }
    }
    .optional__jump{ 
        background: $color_two;
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: "Overused-Grotesk";
        text-transform: uppercase;
        font-weight: bolder;
        font-size: clamp(15px, 6vw, 60px);
        border-radius: 10px;
        padding: 27px 0;
        color: $color_one;
    }
}


.optional__area{
    padding: 100px 20px;
    @include media-md {
        padding: 50px 20px;
     }
    .single__post{
       
        .single__post__title{
            font-size:clamp(20px ,7vw, 45px);
            font-weight: bold;
            font-family: 'Overused-Grotesk';
            color: $color_two;
            margin-block-end: 20px;
        }
        .single__post__img{
            max-width: 1010px;
            // max-height: 450px;
            img{
              height: 100%;
              width: 100%;
              object-fit: cover;
            }
        }
        .single__post__date{
          font-size: 16px;  
        //   color: $color_one;
          color: #910202;
          font-weight: bolder;
          margin: 20px 0;
        }
        .single__post__desc{
            line-height: 1.6;
            text-transform: lowercase;
        }
        .single__pos__hr{
            margin-block-start: 80px;
            margin-block-end: 80px;
        }
    }
}