@import "./variables";
@import "./allmixing";

.prot__area{
    padding: 0 20px;
   
    .top__area{
        .prot__gretting{
            @include title
            (
                'Overused-Grotesk', 
                uppercase,
                medium,
                clamp(20px, 7vw, 45px),
                $color_two,
            );
        }
        .prot__name{
            @include title
            (
                'Overused-Grotesk', 
                uppercase,
                bolder,
                clamp(25px, 7vw, 70px),
                $color_one,
            );
        }
        .prot__image{
            max-width: 1030px;
            // max-height: 400px;
            overflow: hidden;
        }
        img{
            object-fit: cover;
            @include border-radius;
            @include filter-100;
            &:hover{
               @include filter-10;
            }
        }

    }
}