$color_one:#ADAD9C;
$color_two:#2E2E2E;
$color_bg:#E7E7E2;
$color_subg:#b9b9b1;

$light:#f6f6f6;
$extra_one:rgb(41, 38, 38);
$extra_two:#282828;
$extra_three:#e1dddd4f;
$extra_four:#28100b;
//font size

$font-size: (
    "bold":30px,
    "medium":20px,
    "regular":16px,
    "small":14px,
);


//font weight
$font-weight:(
    "bold":700,
    "medium":500,
    "regular":300,
)